:root .bg-aquamarine-inspired {

    /* Main Colors variables*/
    --color-scheme: dark;
    --primary-color: #e47d0d;
    --primary-color-dark-shade: #CD700B;
    --primary-color-darker-shade: #CD700B;
    --primary-color-darkest-shade: #9F5709;
    --nav-tab-border: rgba(228, 125, 13, .7);
    --error-color: #f05050;
    --bs-body-bg: #275d74;
    --body-text-color: #F8F8F2;
    --btn-icon-filter: invert(1) grayscale(100%) brightness(200%);


    /* Scrollbar */
    --primary-color-scrollbar: rgba(182, 182, 187, 0.5);;

    /* Navbar */
    --navbar-bg-color: rgba(7, 30, 56,.4);
    --navbar-text-color: #bac5cc;
    --navbar-fa-icon-color: #bac5cc;
    --navbar-btn-hover-outline-color: rgba(255, 255, 255, 1);

    /* Side Nav */
    --side-nav-bg-color: rgba(19, 47, 62,.4);
    --side-nav-mobile-bg-color: rgba(19, 47, 62, .4);
    --side-nav-openclose-transition: .15s ease-in-out;
    --side-nav-box-shadow: rgba(0,0,0,.5);
    --side-nav-mobile-box-shadow: 3px 0em 5px 10em rgb(0 0 0 / 50%);
    --side-nav-hover-text-color: #F8F8F2;
    --side-nav-hover-bg-color: rgba(182, 182, 187, 0.5);
    --side-nav-color: #F8F8F2;
    --side-nav-border-radius: 5px;
    --side-nav-border: none;
    --side-nav-border-closed: none;
    --side-nav-border-transition: .5s ease-in-out;
    --side-nav-companion-bar-transistion: .15s linear;
    --side-nav-bg-color-transition: .5s ease-in-out;
    --side-nav-closed-bg-color: transparent;
    --side-nav-item-active-color: #e47d0d;
    --side-nav-item-active-text-color: #F8F8F2;
    --side-nav-active-bg-color: rgba(182, 182, 187, 0.5);
    --side-nav-overlay-color: #6272a4;

    /* Inputs */
    --input-bg-color: rgba(40, 42, 54, .5);
    --input-bg-readonly-color: rgba(182, 182, 187, 0.8);
    --input-focused-border-color: #ccc;
    --input-text-color: #fff;
    --input-placeholder-color: #aeaeae;
    --input-border-color: #ccc;
    --input-focus-boxshadow-color: rgb(255 255 255 / 50%);
    --input-range-color: var(--primary-color);
    --input-range-active-color: var(--primary-color-darker-shade);    

    /* Buttons */
    --btn-focus-boxshadow-color: rgb(255 255 255 / 50%);
    --btn-primary-text-color: #F8F8F2;
    --btn-primary-bg-color: var(--primary-color);
    --btn-primary-border-color: var(--primary-color);
    --btn-primary-hover-text-color: #F8F8F2;
    --btn-primary-hover-bg-color: #CD700B;
    --btn-primary-hover-border-color: rgb(255 255 255 / 50%);
    --btn-alt-bg-color: #424c72;
    --btn-alt-border-color: #444f75;
    --btn-alt-hover-bg-color: #3b4466;
    --btn-alt-focus-bg-color: #343c59;
    --btn-alt-focus-boxshadow-color: rgb(255 255 255 / 50%);
    --btn-fa-icon-color: #F8F8F2;
    --btn-disabled-bg-color: #282a36;
    --btn-disabled-text-color: #F8F8F2;
    --btn-disabled-border-color: #6c757d;

    /* Nav */
    --nav-tab-border-color: var(--nav-tab-border);
    --nav-tab-text-color: var(--body-text-color);
    --nav-tab-bg-color: var(--primary-color);
    --nav-tab-hover-border-color: var(--primary-color);
    --nav-tab-active-text-color: #F8F8F2;
    --nav-tab-border-hover-color: transparent;
    --nav-tab-hover-text-color: var(--body-text-color);
    --nav-tab-hover-bg-color: transparent;
    --nav-tab-border-top: var(--nav-tab-border);
    --nav-tab-border-left: var(--nav-tab-border);
    --nav-tab-border-bottom: var(--nav-tab-border);
    --nav-tab-border-right: var(--nav-tab-border);
    --nav-tab-hover-border-top: var(--nav-tab-border);
    --nav-tab-hover-border-left: var(--nav-tab-border);
    --nav-tab-hover-border-bottom: var(--bs-body-bg);
    --nav-tab-hover-border-right: var(--nav-tab-border);
    --nav-tab-active-hover-bg-color: var(--primary-color);

    --nav-link-bg-color: var(--primary-color);
    --nav-link-active-text-color: #F8F8F2;
    --nav-link-text-color: #F8F8F2;

    --nav-header-text-color: #F8F8F2;
    --nav-header-bg-color: RGB(68, 71, 90);

    /* Toasts */
    --toast-success-bg-color: rgba(39, 194, 76, .9);
    --toast-error-bg-color: #f05050;
    --toast-info-bg-color: #8BE9FD;
    --toast-warning-bg-color: #FFB86C;

    /* Checkboxes */
    --checkbox-checked-bg-color: var(--primary-color);
    --checkbox-border-color: var(--input-focused-border-color);
    --checkbox-focus-border-color: var(--primary-color);
    --checkbox-focus-boxshadow-color: rgb(255 255 255 / 50%);

    /* Tagbadge */
    --tagbadge-border-color: rgba(239, 239, 239, .125);
    --tagbadge-text-color: var(--body-text-color);
    --tagbadge-bg-color: var(--nav-tab-hover-bg-color);
    --tagbadge-filled-border-color: rgba(239, 239, 239, .125);
    --tagbadge-filled-text-color: var(--body-text-color);
    --tagbadge-filled-bg-color: var(--primary-color);

    /* List items */
    --list-group-item-text-color: var(--body-text-color);
    --list-group-item-bg-color: #282a36;
    --list-group-item-border-color: rgba(239, 239, 239, .125);
    --list-group-hover-text-color: #F8F8F2;
    --list-group-hover-bg-color: rgb(22, 27, 34);
    --list-group-active-border-color: none;

    /* Popover */
    --popover-body-bg-color: var(--navbar-bg-color);
    --popover-body-text-color: var(--navbar-text-color);
    --popover-outerarrow-color: transparent;
    --popover-arrow-color: transparent;
    --popover-bg-color: black;
    --popover-border-color: black;

    /* Pagination */
    --pagination-active-link-border-color: var(--primary-color);
    --pagination-active-link-bg-color: var(--primary-color);
    --pagination-active-link-text-color: #F8F8F2;
    --pagination-link-border-color: rgba(68, 71, 90, .125);
    --pagination-link-text-color: #F8F8F2;
    --pagination-link-bg-color: rgba(1, 4, 9, .5);
    --pagination-focus-border-color: var(--primary-color);
    --pagination-link-hover-color: var(--primary-color);

    /* Progress */
    --progress-striped-animated-color: linear-gradient(45deg, rgba(74,198,148, .75) 25%, rgba(51, 138, 103, .75) 25%, rgba(51, 138, 103, .75) 50%, rgba(74,198,148, .75) 50%, rgba(74,198,148, .75) 75%, rgba(51, 138, 103, .75) 75%, rgba(51, 138, 103, .75));
    --progress-bg-color: var(--nav-header-bg-color);
    --progress-bar-color: var(--primary-color-dark-shade);

    /* Dropdown */
    --dropdown-item-hover-text-color: #F8F8F2;
    --dropdown-item-hover-bg-color: var(--primary-color-dark-shade);
    --dropdown-item-text-color: var(--navbar-text-color);
    --dropdown-item-bg-color: var(--navbar-bg-color);
    --dropdown-overlay-color: rgba(0,0,0,.5);

    /* Accordion */
    --accordion-header-text-color: #F8F8F2;
    --accordion-header-bg-color: rgba(182, 182, 187, 0.8);
    --accordion-body-bg-color: rgba(182, 182, 187, 0.5);
    --accordion-body-border-color: rgba(182, 182, 187, 0.5);
    --accordion-body-text-color: var(--body-text-color);
    --accordion-header-collapsed-text-color: #F8F8F2;
    --accordion-header-collapsed-bg-color: rgba(17, 46, 62, .6);
    --accordion-button-focus-border-color: unset;
    --accordion-button-focus-box-shadow: unset;
    --accordion-active-body-bg-color: #44475a;

    /* Breadcrumb */
    --breadcrumb-bg-color: #292d32;
    --breadcrumb-item-text-color: var(--body-text-color);

    /* Rating star */
    --ratingstar-color: #bd93f9;
    --ratingstar-star-empty: #b0c4de;
    --ratingstar-star-filled: var(--primary-color);

    /* Global */
    --hr-color: rgba(239, 239, 239, .125);
    --accent-bg-color: rgba(1, 4, 9, .5);
    --accent-text-color: lightgrey;
    --grid-breakpoints-xs: $grid-breakpoint-xs;
    --grid-breakpoints-sm: $grid-breakpoint-sm;
    --grid-breakpoints-md: $grid-breakpoint-md;
    --grid-breakpoints-lg: $grid-breakpoint-lg;
    --grid-breakpoints-xl: $grid-breakpoint-xl;
    --body-font-family: "EBGaramond", "Helvetica Neue", sans-serif;
    --brand-font-family: "Spartan", sans-serif;

    /* Card */
    --card-bg-color: rgba(40,42,54,.5);
    --card-text-color: var(--body-text-color);
	--card-border-width: 2px 2px 2px 2px;
	--card-border-style: solid;
    --card-border-color: rgba(142, 145, 149, 0.1);/
    --card-progress-bar-color: var(--primary-color);
    --card-overlay-bg-color: rgba(0, 0, 0, 0);
    --card-overlay-hover-bg-color: rgba(0, 0, 0, .2);

    /* Slider */
    --slider-text-color: #F8F8F2;


    /* Manga Reader */    
    --manga-reader-overlay-filter: blur(10px);
    --manga-reader-overlay-bg-color: rgba(0,0,0,.5);
    --manga-reader-overlay-text-color: #F8F8F2;
    --manga-reader-bg-color: black;
    --manga-reader-next-highlight-bg-color: rgba(80,250,123, .5);
    --manga-reader-prev-highlight-bg-color: rgba(98,114,164, .5);

    /* Radios */    
    --radio-accent-color: var(--primary-color);
    --radio-hover-accent-color: var(--primary-color);
    --radio-focus-boxshadow-color: rgb(255 255 255 / 50%);

    /* Carousel */
    --carousel-header-text-color: var(--body-text-color);
    --carousel-header-text-decoration: none;
    --carousel-hover-header-text-decoration: none;

    /** Drawer */
    --drawer-background-color: black;
    --drawer-bg-color: #44475a;
    --drawer-text-color: #F8F8F2;

    /** Event Widget */
    --event-widget-bg-color: rgb(1, 4, 9);
    --event-widget-item-bg-color: rgb(1, 4, 9);
    --event-widget-text-color: var(--body-text-color);
    --event-widget-item-border-color: rgba(53, 53, 53, .5);
    --event-widget-border-color: rgba(1, 4, 9, .5);

    /* Search */
    --search-result-text-lite-color: initial;

    /* Bulk Selection */
    --bulk-selection-text-color: var(--navbar-text-color);
    --bulk-selection-highlight-text-color: var(--primary-color);

    /* Card list */    
    --card-list-item-bg-color: linear-gradient(180deg, rgba(0,0,0,.15) 0%, rgba(0,0,0,.15) 1%, rgba(0,0,0,0) 100%);
}

/* Otherwise Progressbar stays green, bug is reported. */
.progress-bar {
    background-color: #e47d0d !important;
}
