/* A bare minimum starting place for a light theme of Kavita, updated as of v0.7.14 by majora2007 */
:root .bg-light {
--color-scheme: light;
--theme-color: white;
--tile-color: white;
--bs-body-bg: white;
--body-text-color: black;
--btn-icon-filter: none;

/** Inputs **/
--input-bg-color: #fff;
--input-bg-readonly-color: lightgrey;
--input-text-color: black;

/** Dropdown/Action Menu **/
--dropdown-item-bg-color: white;
--dropdown-item-text-color: black;

/** Tabs **/
--nav-tab-text-color: black;
--nav-link-text-color: black;
--nav-tab-hover-border-bottom: white;

/** Tag Badge **/
--tagbadge-border-color: lightgrey;

/** Badge **/
--badge-text-color: black;

/** Side Nav **/
--side-nav-bg-color: white;
--side-nav-mobile-bg-color: white;
--side-nav-hover-text-color: var(--primary-color);
--side-nav-hover-bg-color: lightgrey;
--side-nav-color: black;
--side-nav-text-color: black;
--side-nav-active-bg-color: white;
--side-nav-item-active-text-color: var(--primary-color);

/** List items **/
--list-group-item-bg-color: lightgrey;
--list-group-item-text-color: white;
--list-group-hover-bg-color: white;
--list-group-hover-text-color: var(--primary-color);
--list-group-active-border-color: var(--primary-color);
--list-group-item-text-color: black;

/** Popover **/
--popover-body-bg-color: lightgrey;
--popover-body-text-color: black;

/** Pagination (TODO) **/

/** Accordion **/
--accordion-header-bg-color: white;
--accordion-body-bg-color: white;
--accordion-body-text-color: black;
--accordion-header-collapsed-text-color: black;
--accordion-header-collapsed-bg-color: lightgrey;
--accordion-button-focus-border-color: black;
--accordion-active-body-bg-color: white;

/** Breadcrumb **/
--breadcrumb-bg-color: lightgrey;
--breadcrumb-item-text-color: black;

/** Global **/
--hr-color: black;
--accent-bg-color: lightgrey;
--accent-text-color: black;
--text-muted-color: grey;

/** Card **/
--card-bg-color: white;
--card-text-color: black;

/** Carousel **/
--carousel-btn-color: black;

/** Drawer **/
--drawer-bg-color: white;
--drawer-text-color: black;

/** Event Widget **/
--event-widget-bg-color: white;
--event-widget-item-bg-color: white;
--event-widget-text-color: black;
--event-widget-item-border-color: black;
--event-widget-border-color: black;

/** Review Card **/
--review-spoiler-bg-color: white;
--review-spoiler-text-color: black;


}
