:root .bg-darkpink {


	/* Main Colors Variables*/
	--color-scheme: dark;
	--primary-color: #d44175;
	--lighter-shade: #e578a5;
	--primary-color-dark-shade: #be3a69;
	--primary-color-darker-shade: #a9345d;
	--primary-color-darkest-shade: #942d51;
	--nav-tab-border: rgba(212, 65, 117, .7);
	--error-color: #b32326;
	--bs-body-bg: #0f121a;
	--body-text-color: #ffffff;
	--btn-icon-filter: invert(1) grayscale(100%) brightness(200%);

	/* Scrollbar */
	--primary-color-scrollbar: rgba(212, 65, 117, .9);

	/* Navbar */
	--navbar-bg-color: rgb(30, 31, 36);
	--navbar-text-color: var(--body-text-color);
	--navbar-fa-icon-color: #ffffff;
	--navbar-btn-hover-outline-color: rgba(255, 255, 255, 1);

	/* Side Nav */
	--side-nav-bg-color: rgba(30, 31, 36, .85);
	--side-nav-mobile-bg-color: rgba(30, 31, 36, .85);
	--side-nav-openclose-transition: .15s ease-in-out;
	--side-nav-box-shadow: rgba(0, 0, 0, .5);
	--side-nav-mobile-box-shadow: 3px 0em 5px 10em rgb(0 0 0 / 50%);
	--side-nav-hover-text-color: var(--body-text-color);
	--side-nav-hover-bg-color: rgba(212, 65, 117, .85);
	--side-nav-color: var(--body-text-color);
	--side-nav-border-radius: 5px;
	--side-nav-border: rgb(55, 65, 81);
	--side-nav-border-closed: none;
	--side-nav-border-transition: .5s ease-in-out;
	--side-nav-companion-bar-transistion: .15s linear;
	--side-nav-bg-color-transition: .5s ease-in-out;
	--side-nav-closed-bg-color: transparent;
	--side-nav-item-active-color: var(--primary-color-darker-shade);
	--side-nav-item-active-text-color: var(--body-text-color);
	--side-nav-active-bg-color: rgba(212, 65, 117, .85);
	--side-nav-overlay-color: rgba(30, 31, 36, .90);

	/* Inputs */
	--input-bg-color: #374151;
	--input-bg-readonly-color: rgba(212, 65, 117, .4);
	--input-focused-border-color: var(--primary-color);
	--input-text-color: var(--body-text-color);
	--input-placeholder-color: #aeaeae;
	--input-border-color: #ccc;
	--input-focus-boxshadow-color: rgb(255 255 255 / 50%);
	--input-range-color: var(--primary-color);
	--input-range-active-color: var(--primary-color-darker-shade);

	/* Buttons */
	--btn-focus-boxshadow-color: rgb(255 255 255 / 50%);
	--btn-primary-text-color: var(--body-text-color);
	--btn-primary-bg-color: var(--primary-color);
	--btn-primary-border-color: var(--primary-color-dark-shade);
	--btn-primary-hover-text-color: var(--body-text-color);
	--btn-primary-hover-bg-color: var(--primary-color-dark-shade);
	--btn-primary-hover-border-color: #ffffff;
	--btn-alt-bg-color: #424c72;
	--btn-alt-border-color: #444f75;
	--btn-alt-hover-bg-color: #3b4466;
	--btn-alt-focus-bg-color: #343c59;
	--btn-alt-focus-boxshadow-color: rgb(255 255 255 / 50%);
	--btn-fa-icon-color: #ffffff;
	--btn-disabled-bg-color: #111827;
	--btn-disabled-text-color: var(--body-text-color);
	--btn-disabled-border-color: #6c757d;

	/* Nav */
	--nav-tab-border-color: var(--nav-tab-border);
	--nav-tab-text-color: var(--body-text-color);
	--nav-tab-bg-color: var(--primary-color);
	--nav-tab-hover-border-color: var(--primary-color);
	--nav-tab-active-text-color: #F8F8F2;
	--nav-tab-border-hover-color: transparent;
	--nav-tab-hover-text-color: var(--body-text-color);
	--nav-tab-hover-bg-color: transparent;
	--nav-tab-border-top: var(--nav-tab-border);
	--nav-tab-border-left: var(--nav-tab-border);
	--nav-tab-border-bottom: var(--nav-tab-border);
	--nav-tab-border-right: var(--nav-tab-border);
	--nav-tab-hover-border-top: var(--nav-tab-border);
	--nav-tab-hover-border-left: var(--nav-tab-border);
	--nav-tab-hover-border-bottom: var(--bs-body-bg);
	--nav-tab-hover-border-right: var(--nav-tab-border);
	--nav-tab-active-hover-bg-color: var(--primary-color);

	--nav-link-bg-color: var(--primary-color);
	--nav-link-active-text-color: var(--body-text-color);
	--nav-link-text-color: var(--body-text-color);

	--nav-header-text-color: var(--body-text-color);
	--nav-header-bg-color: rgba(30, 31, 36, .85);

	/* Toasts */
	--toast-success-bg-color: rgba(212, 65, 117, .9);
	--toast-error-bg-color: #d44141;
	--toast-info-bg-color: #7c3a5e;
	--toast-warning-bg-color: #d4a141;

	/* Checkboxes */
	--checkbox-checked-bg-color: var(--primary-color);
	--checkbox-border-color: var(--input-focused-border-color);
	--checkbox-focus-border-color: var(--primary-color);
	--checkbox-focus-boxshadow-color: rgb(255 255 255 / 50%);

	/* Tagbadge */
	--tagbadge-border-color: rgba(239, 239, 239, .125);
	--tagbadge-text-color: var(--body-text-color);
	--tagbadge-bg-color: var(--nav-tab-hover-bg-color);
	--tagbadge-filled-border-color: rgba(239, 239, 239, .125);
	--tagbadge-filled-text-color: var(--body-text-color);
	--tagbadge-filled-bg-color: var(--primary-color);

	/* List items */
	--list-group-item-text-color: var(--body-text-color);
	--list-group-item-bg-color: rgba(85, 86, 94, .5);
	--list-group-item-border-color: rgba(239, 239, 239, .125);
	--list-group-hover-text-color: var(--body-text-color);
	--list-group-hover-bg-color: rgba(212, 65, 117, .6);
	--list-group-active-border-color: none;

	/* Popover */
	--popover-body-bg-color: var(--navbar-bg-color);
	--popover-body-text-color: var(--navbar-text-color);
	--popover-outerarrow-color: transparent;
	--popover-arrow-color: transparent;
	--popover-bg-color: black;
	--popover-border-color: black;

	/* Pagination */
	--pagination-active-link-border-color: var(--primary-color);
	--pagination-active-link-bg-color: var(--primary-color);
	--pagination-active-link-text-color: var(--body-text-color);
	--pagination-link-border-color: rgba(68, 71, 90, .125);
	--pagination-link-text-color: var(--body-text-color);
	--pagination-link-bg-color: rgba(1, 4, 9, .5);
	--pagination-focus-border-color: var(--primary-color);
	--pagination-link-hover-color: var(--primary-color);

	/* Progress */
	--progress-striped-animated-color: linear-gradient(45deg, var(--lighter-shade) 25%, var(--base-color) 25%, var(--base-color) 50%, var(--lighter-shade) 50%, var(--lighter-shade) 75%, var(--base-color) 75%, var(--base-color)) !important;
	--progress-bg-color: var(--nav-header-bg-color);
	--progress-bar-color: var(--primary-color-dark-shade);

	/* Dropdown */
	--dropdown-item-hover-text-color: var(--body-text-color);
	--dropdown-item-hover-bg-color: var(--primary-color-dark-shade);
	--dropdown-item-text-color: var(--navbar-text-color);
	--dropdown-item-bg-color: var(--navbar-bg-color);
	--dropdown-overlay-color: rgba(0, 0, 0, .5);

	/* Accordion */
	--accordion-header-text-color: var(--body-text-color);
	--accordion-header-bg-color: #222222;
	--accordion-body-bg-color: #1a1a1a;
	--accordion-body-border-color: #374151;
	--accordion-body-text-color: var(--body-text-color);
	--accordion-header-collapsed-text-color: var(--body-text-color);
	--accordion-header-collapsed-bg-color: #1a1a1a;
	--accordion-button-focus-border-color: unset;
	--accordion-button-focus-box-shadow: unset;
	--accordion-active-body-bg-color: #171e2d;

	/* Breadcrumb */
	--breadcrumb-bg-color: #292d32;
	--breadcrumb-item-text-color: var(--body-text-color);

	/* Rating star */
	--ratingstar-color: var(--primary-color-dark-shade);
	--ratingstar-star-empty: #b0c4de;
	--ratingstar-star-filled: var(--primary-color);

	/* Global */
	--hr-color: rgba(239, 239, 239, .125);
	--accent-bg-color: rgba(1, 4, 9, .5);
	--accent-text-color: lightgrey;
	--grid-breakpoints-xs: $grid-breakpoint-xs;
	--grid-breakpoints-sm: $grid-breakpoint-sm;
	--grid-breakpoints-md: $grid-breakpoint-md;
	--grid-breakpoints-lg: $grid-breakpoint-lg;
	--grid-breakpoints-xl: $grid-breakpoint-xl;
	--body-font-family: "EBGaramond", "Helvetica Neue", sans-serif;
	--brand-font-family: "Spartan", sans-serif;

	/* Card */
	--card-bg-color: rgba(30, 31, 36, .8);
	--card-text-color: var(--body-text-color);
	--card-border-width: 2px 2px 2px 2px;
	--card-border-style: solid;
	--card-border-color: rgba(142, 145, 149, 0.1);
	--card-progress-bar-color: var(--primary-color);
	--card-overlay-bg-color: rgba(0, 0, 0, 0);
	--card-overlay-hover-bg-color: rgba(0, 0, 0, .20);

	/* Slider */
	--slider-text-color: var(--body-text-color);

	/* Manga Reader */
	--manga-reader-overlay-filter: blur(10px);
	--manga-reader-overlay-bg-color: rgba(0, 0, 0, .5);
	--manga-reader-overlay-text-color: var(--body-text-color);
	--manga-reader-bg-color: black;
	--manga-reader-next-highlight-bg-color: rgba(65, 105, 225, .5);
	--manga-reader-prev-highlight-bg-color: rgba(65, 105, 225, .5);

	/* Radios */
	--radio-accent-color: var(--primary-color);
	--radio-hover-accent-color: var(--primary-color);
	--radio-focus-boxshadow-color: rgb(255 255 255 / 50%);

	/* Carousel */
	--carousel-header-text-color: var(--body-text-color);
	--carousel-header-text-decoration: none;
	--carousel-hover-header-text-decoration: none;

	/** Drawer */
	--drawer-background-color: black;
	--drawer-bg-color: #171e2d;
	--drawer-text-color: var(--body-text-color);

	/** Event Widget */
	--event-widget-bg-color: rgb(1, 4, 9);
	--event-widget-item-bg-color: rgb(1, 4, 9);
	--event-widget-text-color: var(--body-text-color);
	--event-widget-item-border-color: rgba(53, 53, 53, .5);
	--event-widget-border-color: rgba(1, 4, 9, .5);

	/* Search */
	--search-result-text-lite-color: initial;

	/* Bulk Selection */
	--bulk-selection-text-color: var(--navbar-text-color);
	--bulk-selection-highlight-text-color: var(--primary-color);

	/* Card list */
	--card-list-item-bg-color: linear-gradient(180deg, rgba(26, 26, 26, 0.15) 0%, rgba(26, 26, 26, .15) 1%, rgba(26, 26, 26, 0) 100%);

}

/* Make the Kavita fit the Theme */
.navbar-brand {
    color: var(--primary-color) !important;
    .logo.img-placeholder {
        filter: hue-rotate(190deg) brightness(100%) saturate(200%);
    }
}

/* Otherwise Progressbar stays green, bug is reported. */
.progress-bar {
	background-color: var(--primary-color) !important;
}